
@font-face {
  font-family: 'OrhonHawangTig-H-Regular';
  src: url('OrhonHawangTig-H-Regular.eot?#iefix') format('embedded-opentype'),  url('OrhonHawangTig-H-Regular.woff') format('woff'), url('OrhonHawangTig-H-Regular.ttf')  format('truetype'), url('OrhonHawangTig-H-Regular.svg#OrhonHawangTig-H-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
